:root {
  --pink: #f14e95;
  --bg: #000;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

.body {
  font-size: 1.2rem;
  font-family: "Encode Sans Expanded", sans-serif;
  min-height: 50000px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/wedding.webp);
  background-position: center;
  background-size: cover;
  filter: blur();
  z-index: -1;
}

.hero {
  position: relative;
  min-height: 100vh;
}
.hero h1,
.hero p,
.hero h4 {
  text-shadow: var(--shadow);
}
.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 6.7rem;
}
.hero p {
  font-size: 1.7;
}
.hero h4 {
  font-size: 1.6rem;
}
.hero a {
  background-color: white;
  transition: 0.3s;
  box-shadow: var(--shadow);
}
.hero a:hover {
  background-color: var(--pink);
  color: white;
}

.my-navbar {
  background-color: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(2px);
}

.my-navbar .navbar-brand,
.my-navbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: var(--shadow);
}

.my-navbar .nav-link {
  text-transform: uppercase;
}

.my-navbar .offcanvas {
  height: 100vh;
}

.home {
  background-image: url(img/floral.jpg);
  background-position: center;
  background-size: cover;
  margin-top: -6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}
.home h2 {
  color: var(--pink);
  font-family: "Sacramento", cursive;
  font-weight: bold;
}

.home h3 {
  color: #444;
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.home p {
  color: #666;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "Sacramento";
  font: 2.4rem;
  color: var(--pink);
}

.home .couple img {
  width: 100%;
}
.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: var(--shadow);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}
.home .heart i {
  margin: auto;
  color: var(--pink);
}

.info {
  background-color: black;
  color: white;
  padding-top: 10rem;
  padding-bottom: 5rem;
}
.info h2 {
  color: var(--pink);
  font-size: 4.4rem;
  font-family: "Sacramento";
  font-weight: bold;
}

.info .alamat {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
  font-weight: 700;
  margin-bottom: 5rem;
}

.info .card-header {
  border: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.info .card-body {
  font-size: 1rem;
}
.info .card-footer {
  /* border: 1px solid #999; */
  font-size: 1rem;
  font-weight: 400;
}

.story h2 {
  color: var(--pink);
  font-family: "sacramento";
  font-size: 6rem;
  font-weight: bold;
}

.story {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.story span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.8rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p {
  font-size: 1rem;
  font-weight: 300;
}

.time-line {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}
.time-line::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.time-line li {
  margin-bottom: 1.5rem;
  position: relative;
}

.time-line li::before,
.time-line li::after {
  content: "";
  display: table;
}

.time-line li::after {
  clear: both;
}

.time-line li .time-line-img {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.time-line li .time-line-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 10px;
  box-shadow: var(--shadow);
  background-color: #fff;
}

.time-line li .time-line-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 100px;
  right: -15px;
}
.time-line li .time-line-panel::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 101px;
  right: -13px;
}

.time-line li.timeline-inverted .time-line-panel {
  float: right;
}

.time-line li.timeline-inverted .time-line-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.time-line li.timeline-inverted .time-line-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

/* media queary */

/* extralerge */

@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
  .home .heart {
    display: none;
  }

  .time-line::before {
    left: 60px;
  }
  .time-line li .time-line-img {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }
  .time-line li .time-line-panel {
    width: calc(100% - 200px);
    float: right;
  }
  .time-line li .time-line-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .time-line li .time-line-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }

  .sticky-top {
    overflow: hidden;
  }
  .my-navbar .nav-link {
    font-size: 2.4rem;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
  }
}

/* mobile */
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
  .simply-countdown > .simply-section {
    padding: 35px;
    margin: 3px;
  }
  .hero::before {
    width: 100%;
    height: 100%;
  }
  .row .couple h3 {
    font-size: 1.3rem;
  }
  .row .couple p {
    font-size: 1.2rem;
  }
  .time-line li .time-line-panel {
    width: 65%;
    transform: translateX(-20px);
    left: 20px;
  }
  .time-line li .time-line-panel::before {
    top: 35px;
  }
  .time-line li .time-line-panel::after {
    top: 35px;
  }
}
